<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>volume</servlet-name>
        <servlet-class>lr6.VolumeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>volume</servlet-name>
        <url-pattern>/volume</url-pattern>
    </servlet-mapping>

</web-app>
